[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
bcrypt = "*"
gunicorn = "*"
flask = "*"
structlog = "*"
alembic = "*"
sqlalchemy = "*"
retrying = "*"
psycopg2-binary = "*"
flask-httpauth = "*"
requestsdefaulter = "*"
marshmallow = "*"
gevent = {version = "*",platform_python_implementation = "=='CPython'"}
requests = "*"
google-cloud-pubsub = "*"

[dev-packages]
black = "==21.12b0"
testfixtures = "*"
pytest = "*"
flake8 = "*"
isort = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
