[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
bcrypt = "*"
cfenv="*"
gunicorn = "*"
flask = "*"
structlog = "*"
alembic = "*"
sqlalchemy = "*"
retrying = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
gevent = "*"

[dev-packages]
testfixtures = "*"
pytest = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
